<div id="<%= dom_id customer %>" class="card" style="width: 300px;">

  <div class="card-image">
    <figure class="image">
      <% if customer.image.present? %>
      <%= image_tag customer.image, :class => 'card-image-top' %>
      <% else %>
      <%= image_tag("empty_image.jpg") %>
      <% end %>
    </figure>
  </div>

  <div class="card-body">
    <p>
      <strong>Fullname:</strong>
      <%= customer.fullname %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= customer.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= customer.email %>
    </p>

    <!-- <p>
      <strong>Notes:</strong>
      <%#= customer.notes %>
    </p> -->

    <p><%= link_to "Show this customer", customer_path(customer) %></p>
  </div>
</div>